---
import Layout from "@/layouts/Layout.astro";
import bg from "@/assets/bg_404.jpg";
---

<Layout
    title="Página No Encontrada"
    subtitle="Página No Encontrada"
    bgImage={bg.src}
>
    <p class="text-center text-lg">
        Tal vez quieras volver al {""}
        <a href="/" class="text-coffee-600 font-bold">Inicio</a>
    </p>
</Layout>
